/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
 * CSS Custom Properties
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
:root {
    --font-family-primary: 'Open Sans', sans-serif;
    --font-family-accent: 'Lobster', cursive;
    --color-primary: #384855;
    --color-secondary: #7E93A7;
    --color-accent: #273340;
    --color-divider: #ECF1F5;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
 * Default styling
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
body {
    font-family: var(--font-family-primary);
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
 * Navbar
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
 nav {
     background-color: white;
     transition: all ease 0.5s;
 }

.navbar-brand, .nav-link {
    color: var(--color-accent) !important;
}

.navbar-brand {
    font-family: var(--font-family-accent);
    font-size: 3em;
}

.nav-link {
    font-size: 1.8em;
    font-weight: 700;
}

.nav-link:hover {
    color: var(--color-secondary) !important;
}

.navbar-scrolled {
    z-index: 999;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 15px 0px;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
 * Hero
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.hero {
    height: 100vh;
    background-image: url("../img/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-header {
    font-size: 4em;
    font-weight: 700;
    color: white;
}

.hero-subheader {
    font-size: 2em;
    font-weight: 600;
    color: white;
}

section {
    border-bottom: 1px solid var(--color-divider);
}

.section-title, .section-subtitle {
    font-weight: 700;
    color: var(--color-primary);
}

.section-title {
    font-size: 2.5em;
}

.section-subtitle {
    font-size: 1.5em;
}

.section-info {
    font-size: 1.4em;
    color: var(--color-secondary);
}

.section-info-highlight {
    font-weight: 700;
    color: var(--color-primary);
}

.speaker-card img {
    width: 100%;
    border-radius: 10px;
}

.speaker-card-name {
    font-size: 1.8em;
    font-weight: 700;
    color: var(--color-primary);
}

.speaker-card-bio, .speaker-card-handle {
    font-size: 1.2em;
    color: var(--color-secondary);
}

footer i {
    font-size: 2em;
    color: var(--color-primary)
}

footer p {
    font-size: 1.5em;
    color: var(--color-primary)
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Media queries
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
@media screen and (max-width: 575px) {
    .navbar-brand {
        font-size: 2em;
    }

    .nav-link {
        font-size: 1.3em;
    }
}